<footer class="_footer">
    <div class="_footer-contenido">

        <div class="_footer-logo">
            <img class="_imagen-logo" src="/info/design/logo.jpg" alt="">
        </div>
        <div class="_footer-botones">
            <button class="_boton">ayuda</button>
            <button class="_boton">Botón de arrepentimiento</button>
            <a class="_link-condiciones" href="/">Terminos y condiciones</a>
        </div>
        <div class="_footer-redes">
            <span class="_redes-titulo">Seguinos en</span>
            <div class="_redes-iconos">
                <i class="fa-brands fa-facebook-f _icon"></i>
                <i class="fa-brands fa-instagram _icon"></i>
                <i class="fa-brands fa-whatsapp _icon"></i>
            </div>
        </div>
        <div class="_footer-trabajo">
            <img class="_imagen-qr" src="/info/design/logo.jpg" alt="">
            <a class="_link-trabaja" href="">Trabajá con nosotros</a>
        </div>
    </div>
</footer>