<header class="_header">
  <nav class="_nav-bar">
    <a href="/">
      <img src="/info/design/logo.jpg" alt="" />
    </a>
    <div class="_buscador">
      <input
        class="_buscador-input"
        type="text"
        name=""
        id=""
        placeholder="Buscar..."
      />
      <i class="fa-solid fa-magnifying-glass _icon"></i>
    </div>
    <div class="_nav-bar-buttons">
      <% if (locals.isLogged) { %>
        <div class="_nav-bar-login">
        
        <img class="_imagen-perfil" src="/images/users/<%= locals.userLogged.avatar %>" alt="<%= locals.userLogged.fullname %>" />
        <span class="_ingresar"><%= locals.userLogged.fullname %></span>
      </div>
          <% } else { %>
            <a class="_link" href="/users/login">
              <div class="_nav-bar-login">
                <i class="fa-solid fa-user ._icon"></i>
                <span class="_ingresar">Ingresar</span>
              </div>
            </a>
            <% } %>
         
      <% if (locals.isLogged) { %>
        <a class="_link" href="/products/cart">
          <i class="fa-solid fa-cart-shopping ._icon"></i>
        </a>
        <a class="_link" href="/users/logout">
          <i class="fa-solid fa-right-from-bracket ._icon"></i>
        </a>
      <% } %>
    </div>
  </nav>
</header>
