<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fontawesome/fontawesome-free-6.6.0-web/css/all.min.css">
    <script src="/fontawesome/fontawesome-free-6.6.0-web/js/all.min.js"></script>
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body class="_body">
    <header class="_header">
        <nav class="_nav-bar">
            <a href="/">
                <img src="/info/design/logo.jpg" alt="">
            </a>
            <div class="_buscador">
                <input class="_buscador-input" type="text" name="" id="" placeholder="Buscar...">
                <i class="fa-solid fa-magnifying-glass _icon"></i>
            </div>
            <div class="_nav-bar-buttons">
                <div class="_nav-bar-login">
                    <i class="fa-solid fa-user ._icon"></i>
                    <span class="_ingresar">Ingresar</span>
                </div>
                <i class="fa-solid fa-cart-shopping ._icon"></i>
            </div>
        </nav>
    </header>
    <main class="_main">
        <section class="_seccion-principal">
            <div class="_oferta">
                <span class="_titulo">Nueva colección</span>
                <span class="_sub-titulo">Unete a la nueva moda del verano!</span>
                <a href="" target="_blank" rel="noopener noreferrer"><button class="_button">Comprá ahora</button></a>
            </div>
        </section>
        <section class="_seccion">
            <h2 class="_seccion-titulo">Comprá por categoría</h2>
            <div class="_seccion-contenido">
                <div class="_categoria">
                    <img class="_categoria-imagen" src="/images/categoria_1.jpg" alt="">
                    <span class="_categoria-nombre">Mujeres</span>
                </div>
                <div class="_categoria">
                    <img class="_categoria-imagen" src="/images/categoria_2.jpg" alt="">
                    <span class="_categoria-nombre">Hombres</span>
                </div>
                <div class="_categoria">
                    <img class="_categoria-imagen" src="/images/categoria_3.jpg" alt="">
                    <span class="_categoria-nombre">Adolecentes</span>
                </div>
                <div class="_categoria">
                    <img class="_categoria-imagen" src="/images/categoria_4.jpg" alt="">
                    <span class="_categoria-nombre">Niños</span>
                </div>
                <div class="_categoria">
                    <img class="_categoria-imagen" src="/images/categoria_5.jpg" alt="">
                    <span class="_categoria-nombre">Bebes</span>
                </div>
            </div>
        </section>
        <section class="_seccion">

                <i class="fa-solid fa-circle-chevron-left"></i>
                <i class="fa-solid fa-circle-chevron-right"></i>
            
            <div class="_seccion-header">
                <h2 class="_seccion-titulo">Tendencias</h2>
                <button class="_seccion-ver-mas">Ver mas</button>
            </div>
            <div class="_seccion-contenido">
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                
            </div>
        </section>
        <section class="_seccion">

                <i class="fa-solid fa-circle-chevron-left"></i>
                <i class="fa-solid fa-circle-chevron-right"></i>
            
            <div class="_seccion-header">
                <h2 class="_seccion-titulo">Verano</h2>
                <button class="_seccion-ver-mas">Ver mas</button>
            </div>
            <div class="_seccion-contenido">
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                <div class="_tarjeta">
                    <i class="fa-regular fa-heart"></i>
                    <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                    <div class="_tarjeta-textos">
                        <span class="_tarjeta-nombre">Remera estampada G542</span>
                        <span class="_tarjeta-marca">Nike</span>
                        <span class="_precio">$20000</span>
                    </div>
                </div>
                
            </div>
        </section>
    </main>
    <footer class="_footer">
        <div class="_footer-contenido">

            <div class="_footer-logo">
                <img class="_imagen-logo" src="/info/design/logo.jpg" alt="">
            </div>
            <div class="_footer-botones">
                <button class="_boton">ayuda</button>
                <button class="_boton">Botón de arrepentimiento</button>
                <a class="_link-condiciones" href="/">Terminos y condiciones</a>
            </div>
            <div class="_footer-redes">
                <span class="_redes-titulo">Seguinos en</span>
                <div class="_redes-iconos">
                    <i class="fa-brands fa-facebook-f _icon"></i>
                    <i class="fa-brands fa-instagram _icon"></i>
                    <i class="fa-brands fa-whatsapp _icon"></i>
                </div>
            </div>
            <div class="_footer-trabajo">
                <img class="_imagen-qr" src="/info/design/logo.jpg" alt="">
                <a class="_link-trabaja" href="">Trabajá con nosotros</a>
            </div>
        </div>
    </footer>
    
</body>
</html>