<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fontawesome/fontawesome-free-6.6.0-web/css/all.min.css">
    <script src="/fontawesome/fontawesome-free-6.6.0-web/js/all.min.js"></script>
    <title>Detalle de producto</title>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body class="_body">
    <header class="_header">
        <nav class="_nav-bar">
            <a href="/">
                <img src="/info/design/logo.jpg" alt="">
            </a>
            <div class="_buscador">
                <input class="_buscador-input" type="text" name="" id="" placeholder="Buscar...">
                <i class="fa-solid fa-magnifying-glass _icon"></i>
            </div>
            <div class="_nav-bar-buttons">
                <div class="_nav-bar-login">
                    <i class="fa-solid fa-user ._icon"></i>
                    <span class="_ingresar">Ingresar</span>
                </div>
                <i class="fa-solid fa-cart-shopping ._icon"></i>
            </div>
        </nav>
    </header>
    <main class="_main">
        <section class="_seccion-principal">
            <div class="_producto-imagenes">
                <i class="fa-regular fa-heart"></i>
                <img class="_imagen-principal" src="/images/categoria_2.jpg" alt="">
                <div class="_imagenes-secundarias">
                    <i class="fa-solid fa-circle-chevron-left"></i>
                    <i class="fa-solid fa-circle-chevron-right"></i>
                    <div class="_carrousel">
                        <img class="_imagen-secundaria" src="/images/categoria_2.jpg" alt="">
                        <img class="_imagen-secundaria" src="/images/categoria_2.jpg" alt="">
                        <img class="_imagen-secundaria" src="/images/categoria_2.jpg" alt="">
                        <img class="_imagen-secundaria" src="/images/categoria_2.jpg" alt="">
                        <img class="_imagen-secundaria" src="/images/categoria_2.jpg" alt="">
                        <img class="_imagen-secundaria" src="/images/categoria_2.jpg" alt="">
                        <img class="_imagen-secundaria" src="/images/categoria_2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="_producto-datos">
                <div class="_producto-header">
                    <h2 class="_producto-nombre">Remera estampada</h2>
                    <span class="_producto-precio">$60.000</span>
                    <div class="_producto-valoracion">
                        <div class="_estrellas">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="_cant-valoracion">
                            <span class="_abreviacion">(4.8)</span>
                            <span class="_cantidad">1.2k valoraciones</span>
                        </div>
                    </div>
                </div>
                <div class="_producto-descripcion">
                    <span class="_titulo-descripcion">Descripción</span>
                    <p class="_producto-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum neque laborum repudiandae, cumque quidem dolore facere debitis harum, veritatis vero assumenda. Totam rem animi voluptatibus quisquam culpa pariatur asperiores recusandae quibusdam hic.</p>
                </div>
                <div class="_producto-colors">
                    <span class="_titulo-colors">Colores</span>
                    <div class="_colores">
                        <button class="_color _color-1"></button>
                        <button class="_color _color-2"></button>
                        <button class="_color _color-3"></button>
                    </div>
                </div>
                <div class="_producto-sizes">
                    <span class="_titulo-sizes">Talles</span>
                    <div class="_sizes">
                        <button class="_size _size-1">XS</button>
                        <button class="_size _size-2">S</button>
                        <button class="_size _size-3">M</button>
                    </div>
                </div>
                <div class="_producto-botones">
                    <button class="_boton _boton-aniadir"><i class="fa-solid fa-bag-shopping"></i> Añadir a carrito</button>
                    <button class="_boton _boton-comprar">Comprar ahora</button>
                </div>
            </div>
        </section>
        <section class="_seccion">

            <i class="fa-solid fa-circle-chevron-left"></i>
            <i class="fa-solid fa-circle-chevron-right"></i>
        
        <div class="_seccion-header">
            <h2 class="_seccion-titulo">También te podria interesar...</h2>
            <button class="_seccion-ver-mas">Ver mas</button>
        </div>
        <div class="_seccion-contenido">
            <div class="_tarjeta">
                <i class="fa-regular fa-heart"></i>
                <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                <div class="_tarjeta-textos">
                    <span class="_tarjeta-nombre">Remera estampada G542</span>
                    <span class="_tarjeta-marca">Nike</span>
                    <span class="_precio">$20000</span>
                </div>
            </div>
            <div class="_tarjeta">
                <i class="fa-regular fa-heart"></i>
                <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                <div class="_tarjeta-textos">
                    <span class="_tarjeta-nombre">Remera estampada G542</span>
                    <span class="_tarjeta-marca">Nike</span>
                    <span class="_precio">$20000</span>
                </div>
            </div>
            <div class="_tarjeta">
                <i class="fa-regular fa-heart"></i>
                <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                <div class="_tarjeta-textos">
                    <span class="_tarjeta-nombre">Remera estampada G542</span>
                    <span class="_tarjeta-marca">Nike</span>
                    <span class="_precio">$20000</span>
                </div>
            </div>
            <div class="_tarjeta">
                <i class="fa-regular fa-heart"></i>
                <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                <div class="_tarjeta-textos">
                    <span class="_tarjeta-nombre">Remera estampada G542</span>
                    <span class="_tarjeta-marca">Nike</span>
                    <span class="_precio">$20000</span>
                </div>
            </div>
            <div class="_tarjeta">
                <i class="fa-regular fa-heart"></i>
                <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                <div class="_tarjeta-textos">
                    <span class="_tarjeta-nombre">Remera estampada G542</span>
                    <span class="_tarjeta-marca">Nike</span>
                    <span class="_precio">$20000</span>
                </div>
            </div>
            <div class="_tarjeta">
                <i class="fa-regular fa-heart"></i>
                <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                <div class="_tarjeta-textos">
                    <span class="_tarjeta-nombre">Remera estampada G542</span>
                    <span class="_tarjeta-marca">Nike</span>
                    <span class="_precio">$20000</span>
                </div>
            </div>
            <div class="_tarjeta">
                <i class="fa-regular fa-heart"></i>
                <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                <div class="_tarjeta-textos">
                    <span class="_tarjeta-nombre">Remera estampada G542</span>
                    <span class="_tarjeta-marca">Nike</span>
                    <span class="_precio">$20000</span>
                </div>
            </div>
            <div class="_tarjeta">
                <i class="fa-regular fa-heart"></i>
                <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                <div class="_tarjeta-textos">
                    <span class="_tarjeta-nombre">Remera estampada G542</span>
                    <span class="_tarjeta-marca">Nike</span>
                    <span class="_precio">$20000</span>
                </div>
            </div>
            <div class="_tarjeta">
                <i class="fa-regular fa-heart"></i>
                <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                <div class="_tarjeta-textos">
                    <span class="_tarjeta-nombre">Remera estampada G542</span>
                    <span class="_tarjeta-marca">Nike</span>
                    <span class="_precio">$20000</span>
                </div>
            </div>
            <div class="_tarjeta">
                <i class="fa-regular fa-heart"></i>
                <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                <div class="_tarjeta-textos">
                    <span class="_tarjeta-nombre">Remera estampada G542</span>
                    <span class="_tarjeta-marca">Nike</span>
                    <span class="_precio">$20000</span>
                </div>
            </div>
            <div class="_tarjeta">
                <i class="fa-regular fa-heart"></i>
                <img class="_tarjeta-imagen" src="/images/categoria_2.jpg" alt="">
                <div class="_tarjeta-textos">
                    <span class="_tarjeta-nombre">Remera estampada G542</span>
                    <span class="_tarjeta-marca">Nike</span>
                    <span class="_precio">$20000</span>
                </div>
            </div>
            
        </div>
    </section>
    </main>
    <footer class="_footer">
        <div class="_footer-contenido">

            <div class="_footer-logo">
                <img class="_imagen-logo" src="/info/design/logo.jpg" alt="">
            </div>
            <div class="_footer-botones">
                <button class="_boton">ayuda</button>
                <button class="_boton">Botón de arrepentimiento</button>
                <a class="_link-condiciones" href="/">Terminos y condiciones</a>
            </div>
            <div class="_footer-redes">
                <span class="_redes-titulo">Seguinos en</span>
                <div class="_redes-iconos">
                    <i class="fa-brands fa-facebook-f _icon"></i>
                    <i class="fa-brands fa-instagram _icon"></i>
                    <i class="fa-brands fa-whatsapp _icon"></i>
                </div>
            </div>
            <div class="_footer-trabajo">
                <img class="_imagen-qr" src="/info/design/logo.jpg" alt="">
                <a class="_link-trabaja" href="">Trabajá con nosotros</a>
            </div>
        </div>
    </footer>
</body>
</html>