<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fontawesome/fontawesome-free-6.6.0-web/css/all.min.css">
    <script src="/fontawesome/fontawesome-free-6.6.0-web/js/all.min.js"></script>
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body class="_body">
    <main class="_main">
        <section class="_register">
            <h1 class="_titulo-register">Crea una cuenta</h1>
            <span class="_texto-nuevo">Ya tienes una cuenta? <a class="_link-nuevo" href="/users/login">Logueate</a></span>
            <label class="_label-email" for="email">Usuario o email</label>
            <input class="_input-email" type="email" name="email" id="email">
            <label class="_label-password" for="password">Contraseña</label>
            <input class="_input-password" type="password" name="password" id="password">
            <label class="_label-password" for="confirmPassword">Confirmar contraseña</label>
            <input class="_input-password" type="password" name="confirmPassword" id="confirmPassword">
            <div class="_terminos-y-condiciones">
                <input type="checkbox" name="terminosCondiciones" id="terminosCondiciones">
                <span class="_texto-nuevo">Yo acepto los <a class="_link-nuevo" href="/register">terminos y condiciones</a></span> 
            </div>
            <button class="_boton-registrar">Crear cuenta</button>
            <span class="_texto-o">o</span>
            <div class="_google">
                
                <button class="_boton-google"><img class="_imagen-google" src="/images/logo_google.jpg" alt=""> Registrarse con Google</button>
            </div>
            
        </section>

    </main>
    
</body>
</html>