<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head.ejs", {style: "cart", title: "Carrito"}) %>

  <body class="_body">
    <%- include("../partials/header.ejs") %>
    <main class="_main">
      <section class="_section-1">
        <div class="_additional-functions">
          <div class="_section-function _section-address">
            <span><i class="fa-solid fa-location-dot"></i></span>
            <span>No hay ubicaciones agregadas</span>
            <button class="_button-address">Agregar ubicación</button>
          </div>
          <div class="_section-function _section-pay-method">
            <div class="_header-pay-method">
              <h2 class="_title-pay-method">Elige como pagar</h2>
              <button class="_button-new-pay-method">
                Añadir nuevo metodo +
              </button>
            </div>
            <div class="_main-pay-method">
              
              <label class="_card" for="visa">
                <div class="_card-data">
                  <img class="_card-img" src="/images/logo-visa.png" alt="" />
                  <span class="_card-name">Visa *******243</span>
                </div>
                <input class="_input-radio" id="visa" type="radio" name="card" value="visa" />
              </label>
              <label class="_card" for="mastercard">
                <div class="_card-data">
                  <img class="_card-img" src="/images/logo-mastercard.png" alt="" />
                  <span class="_card-name">MasterCard *******300</span>
                </div>
                <input class="_input-radio" id="mastercard" type="radio" name="card" value="mastercard" />
              </label>
            </div>
          </div>
        </div>
        <div class="_cart">
          <div class="_cart-header">
            <div class="_cart-start">
              <h2 class="_cart-title">Carrito</h2>
              <span class="_cart-amount">3 productos</span>
            </div>
            <button class="_cart-button-delete-all">Quitar todos</button>
          </div>
          <div class="_cart-main">
            <div class="_product-card">
              <img class="_product-image" src="/images/categoria_1.jpg" alt="" />
              <div class="_product-data">
                <div class="_product-info">
                  <div class="_product-data-header">
                    <h3 class="_product-name">Remera deportiva</h3>
                      <i class="fa-solid fa-trash-can"></i>
                  </div>
                  <span class="_product-price">$300.000</span>
                </div>
                <div class="_product-counter">
                  <button class="_button-counter _button-minus">
                    <i class="fa-solid fa-minus"></i>
                  </button>
                  <span class="_product-amount">1</span>
                  <button class="_button-counter _button-plus">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="_product-card">
              <img class="_product-image" src="/images/categoria_3.jpg" alt="" />
              <div class="_product-data">
                <div class="_product-info">
                  <div class="_product-data-header">
                    <h3 class="_product-name">Remera deportiva</h3>
                      <i class="fa-solid fa-trash-can"></i>
                  </div>
                  <span class="_product-price">$300.000</span>
                </div>
                <div class="_product-counter">
                  <button class="_button-counter _button-minus">
                    <i class="fa-solid fa-minus"></i>
                  </button>
                  <span class="_product-amount">1</span>
                  <button class="_button-counter _button-plus">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="_section-2">
        <div class="_payment-section">
          <h3 class="_payment-title">Recibo</h3>
          <div class="_discount-section">
            <div class="_discount-container">
              <i class="fa-solid fa-ticket"></i>
              <div class="_discount-input-container">
                <input class="_discount-input" type="text" name="" id="" placeholder="Ingrese cupon" />
                <i class="fa-solid fa-x"></i>
              </div>
            </div>
            <span class="_cupon-validation">El cupon es valido</span>
          </div>
          <div class="_item-list">
            <div class="_item-data">
              <span class="_item-data-name">Remera deportiva</span>
              <span class="_item-data-price">$300.000</span>
            </div>
            <div class="_item-data">
              <span class="_item-data-name">Remera deportiva</span>
              <span class="_item-data-price">$500.000</span>
            </div>
            <div class="_item-data">
              <span class="_item-data-name">Remera deportiva</span>
              <span class="_item-data-price">$400.000</span>
            </div>
            <div class="_item-data">
              <span class="_item-data-name">Descuento</span>
              <span class="_item-data-price">-$300.000</span>
            </div>
          </div>
          <div class="_total-container">
            <span class="_total-title">Total</span>
            <span class="_total-price">$900.000</span>
          </div>
          <button class="_pay-button">Pagar</button>
        </div>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
